#root {
  display: flex;
  flex-direction: column;
}

#navbar {
  display: flex;
  flex-direction: row;
}

#navbar h1 {/* Brand */
  display: inline;
  font-size: 1rem;
  margin: 0;
}

#navbar a {
  padding: 1em;
  font-weight: 700;
  color: white;
}

#navbar a:hover{
  color: rgb(131, 202, 137);
  transition: all ease-in 0.3s;
}

#navbar *:last-child {
  margin-left: auto;
}